body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: linear-gradient(0deg, rgba(58, 195, 34, 0.27) 0%, rgba(253, 187, 45, 0.38) 100%);
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.fundo {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100svh;
    z-index: -1;
    overflow: hidden;
    background: black;
}

.container {
    background: #d923b1;
    background: linear-gradient(90deg, rgba(217, 35, 177, 0.97) 0%, rgba(235, 235, 235, 0.37) 100%);
    padding: 20px;
    text-align: center;
    width: 300px;
    max-width: 80%;
    border-radius: 13px;

}

.container:hover {
    background-color: #d83fb7;
    padding: 20px;
    text-align: center;
    transition: 1.2s;

}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff00bf;
}

.tell {
    font-size: 15px;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(153, 104, 104, 0.34) 99%);
    margin-top: 5px;
    border-radius: 10px;
    text-decoration: none;
}


.link img {
    width: 20px;

}

.link img:hover {
    width: 29px;
    transition: 1s;

}

.link p {
    font-size: 20px;
    color: rgb(250, 119, 255);
}

.link p:hover {
    color: rgb(238, 238, 238);
    transition: 1s;

}