html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

/* FUNDO */
.bg-video {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100svh; /* essencial no mobile */
  z-index: -1;
  overflow: hidden;
  background: black;
}

.bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


.container {
    background: #d923b1;
    background: linear-gradient(90deg, rgba(217, 35, 177, 0.97) 0%, rgba(235, 235, 235, 0.37) 100%);
    padding: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 670px;
    min-height: 30vh;
    margin: 40px auto;
    border-radius: 13px;
    padding: 40px 16px;
     display: flex;
    flex-direction: column;
    color: #eee;
    
}

.container:hover {
    background-color: #d83fb7;
    transition: 1.2s;
}

@media (max-width: 768px) {
  .bg-video video {
    width: auto;
    height: 100%;
  }
}


.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
    border: 2px solid #ff00bf;
    margin-left: 98px;
}


.tell {
    font-size: 15px;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(153, 104, 104, 0.34) 99%);
    margin-top: 5px;
    border-radius: 10px;
    text-decoration: none;
}


.link img {
    width: 20px;

}

.link img:hover {
    width: 29px;
    transition: 1s;

}

.link p {
    font-size: 20px;
    color: rgb(250, 119, 255);
}

.link p:hover {
    color: rgb(238, 238, 238);
    transition: 1s;

}